<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brianmsurgenor.honoursproject">

    <permission android:name="com.brianmsurgenor.honoursproject.provider.READWRITE" />

    <uses-permission android:name="com.brianmsurgenor.honoursproject.provider.READWRITE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:targetActivity=".Main.MainActivity">

            <!-- <intent-filter> -->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!-- </intent-filter> -->
        </activity>

        <activity-alias
            android:name=".Main.MainActivity-Original"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Main.MainActivity-Frog"
            android:enabled="false"
            android:icon="@drawable/frog"
            android:label="@string/app_name"
            android:targetActivity=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Main.MainActivity-Puppy"
            android:enabled="false"
            android:icon="@drawable/puppy"
            android:label="@string/app_name"
            android:targetActivity=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".FirstTimeSetup.SetupUserActivity"
            android:label="@string/title_activity_setup_user" />
        <activity
            android:name=".FirstTimeSetup.SetupPetActivity"
            android:label="@string/title_activity_setup_pet" />
        <activity
            android:name=".FoodDiary.MealEntryActivity"
            android:label="@string/title_activity_meal_entry" />
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".FoodDiary.FoodDiaryActivity"
            android:label="@string/title_activity_food_diary" />
        <activity
            android:name=".Exercise.ExerciseDiaryActivity"
            android:label="@string/title_exercise_activity" />

        <activity android:name=".Exercise.ExerciseEntryActivity" />

        <receiver android:name=".FoodDiary.MealNotifReceiver"/>

        <provider
            android:name=".Database.DBProvider"
            android:authorities="com.brianmsurgenor.honoursproject.provider"
            android:exported="true"
            android:readPermission="com.brianmsurgenor.honoursproject.READWRITE" />

        <service
            android:name=".Pedometer.StepService"
            android:enabled="true"
            android:exported="true"
            android:process=":StepService" />

    </application>

</manifest>
